html, body, #root {
    height: 100%;
}

body {
    background-image: url(https://github.com/corbinball/corbins-portfolio/blob/main/assets/images/leafbg.png?raw=true);
    background-color: #3D550C;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
}

html {
    scroll-behavior: smooth;
}
